# google style

gb_g {
    display: inline-block;
    line-height: 24px; 
    outline: none; 
    vertical-align: middle;
}

gb_rc {
    background-image: https://ssl.gstatic.com/gb/images/i1_1967ca6a.png;
    background-size: 528px 60px    
}